/* Uncomment this block for a web app with full screen height and width. */

body, html {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  background-color: Orange;
  display: flex;
  flex-direction: column;
  height: 100%;
  touch-action: none;
}

.upper {
  background-color: LightGreen;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  outline: solid 2px transparent;
  outline-offset: -2px;
  touch-action: none;
}

.upper:focus {
  outline-color: Black;
}

.item {
  margin: 0;
}

.input-box {
  height: 40px;
  touch-action: none;
}
